header {
    background-color: black;
    padding: 10px;
}
header h1 {
    color: white;
    text-align: center;
}

header nav a,.buttom {
    color: white;
    text-align: center;
    background-color: grey;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    text-decoration: none;

}
header nav a:hover{
    background-color: rgba(255, 255, 255, 0.747);
}
footer {
    padding: 10px;
    background-color: black;
}
footer p{
    color: rgb(255, 255, 255);
    text-align: center;
    
}

footer div a i {
    color: rgb(255, 255, 255);
    margin-left: 2px;
    margin-right: 2px;
}
footer div {
    display: flex;
    justify-content: center;

}

.cabezal{
   width: 100%;
   background-color: #cdb0d5;
   height: 5em;
   padding-top: 3.5em;
   vertical-align: middle;
}

.cabezal p{
    vertical-align: middle;
 }


/* Estilos de texto */
i, em {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

a {
	text-decoration: none;
}

.center{
	text-align: center;

}

p, li, td, th {
	margin: 0;
	padding: 0;
	text-align: justify;
	font-family: serif;
	font-size: 1em;
	line-height: 1.5em;
	text-indent: 1em;
	hyphens: auto;
	-epub-hyphens: auto;
    font-family: "Montserrat", sans-serif;
}

h2, h3, h4, h5, h6 {
	text-align: left;
	margin-left: 0;
	text-indent: 0;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  
